<body>
    <div class='container-fluid'>
        <div class= 'row'>
            <div class='col-sm-2'>
                <ul class='sidebar-nav'>
                    <li>
                        <a href='/catalog'>HOME</a>
                    </li>
                    <li>
                        <a href='/catalog/books'>ALL BOOKS</a>
                    </li>
                    <li>
                        <a href='/catalog/authors'>ALL AUTHORS</a>
                    </li>
                     <li>
                        <a href='/catalog/genres'>ALL GENERS</a>
                    </li>
                    <li>
                        <a href='/catalog/bookinstances'>ALL BOOK-INSTANCES</a>
                    </li>
                     <li>
                        <a href='/catalog/author/create'>CREATE NEW AUTHOR</a>
                    </li>
                    <li>
                        <a href='/catalog/genre/create'>CREATE NEW GENRE</a>
                    </li>
                     <li>
                        <a href='/catalog/book/create'>CREATE NEW BOOK</a>
                    </li>
                    <li>
                        <a href='/catalog/bookinstance/create'>CREATE NEW BOOK INSTANCE (Copy)</a>
                    </li>
                </ul>
            </div>
            {{!-- <div class='col-sm-10'>
                block content
            </div>
        </div>
    </div>
</body> --}}