<div class='col-sm-10'>
             <span style = "visibility:hidden;">{{data}}</span> 
            <h1 >Genre List</h1>
            <ul>
                {{#each data}}
                <li><a href = {{this.url}}>{{this.name}}</a> </li>
                {{/each}}
            </ul>
            </div>
        </div>
    </div>